# Files not to commit to git
__pycache__
*.py[cod]
/build
# virtualenv and environment vars
.env
venv/
env/

# code coverage files
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Pydev (Eclipse) and VSCode project files
.project
.pydevproject
.vscode/
